<div id="pageheadinglinks">
<TMPL_IF NAME=LOGGED_IN><a href="/cgi-bin/biodiversity/abbbs/birdbatman.pl?proc=logout">Logout</a><TMPL_ELSE><a href="/biodiversity/abbbs/index.html>Login</a></TMPL_IF>
</div>
