<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Australian Bird and Bat Banding Scheme - Web Client Password Changed</title>
<meta name="DC.Title" lang="en" content="Australian Bird and Bat Banding Scheme - Web Client Password Changed" xml:lang="en" />
<meta name="DC.Creator" scheme="AglsAgent" content="jurisdiction=Commonwealth of Australia; corporateName=Department of the Environment and Water Resources" />
<meta name="DC.Description" lang="en" content="Events, Ministerial Launch of the Bird Action Plan, Other links, EPBC Act, Threatened Birds Lists, Migratory Species Lists, Key Threatening Processes, State and Territory Internet sites" xml:lang="en" />
<meta name="DC.Publisher" scheme="AglsAgent" content="jurisdiction=Commonwealth of Australia; corporateName=Department of the Environment and Water Resources" />
<meta name="DC.Date.created" scheme="ISO8601" content="<TMPL_VAR NAME=DATE_CREATED>" />
<meta name="DC.Format" scheme="IMT" content="text/html" />
<meta name="DC.Language" scheme="RFC1766" content="en" />
<meta name="DC.Coverage.jurisdiction" scheme="AglsJuri" content="Commonwealth of Australia" />
<meta name="DC.Coverage.spatial" lang="en" content="Australia" xml:lang="en" />
<meta name="Description" content="Events, Ministerial Launch of the Bird Action Plan, Other links, EPBC Act, Threatened Birds Lists, Migratory Species Lists, Key Threatening Processes, State and Territory Internet sites" />
<link rel="stylesheet" type="text/css" href="/apps/biodiversity/abbbs/css/abbbs.css" />
<style type="text/css">
/*<![CDATA[*/
div#toc-left { width:60%; }
/*]]>*/
</style>
</head>
<body onload ="document.updateform.sec_answer.focus();">
<!--#include virtual="/apps/biodiversity/abbbs/ssi/header-abbbs.html"-->
<TMPL_INCLUDE NAME="/apps/biodiversity/abbbs/cgi-templates/login-out.tmpl">
<div id="content">
<h1>BirdBatMan - Web Client's Password Changed</h1>

<div id="tocbox">
<div id="toc" class="clearfix">
<div id="toc-left">
<p>The Web client's logon details have been updated in the database.
Please notify the authority of the new value for the answer to
the security question and the new password.
The authority should also be advised to change the password after
logging on. </p>
</div>
<div id="toc-right">
<a href="/cgi-bin/biodiversity/abbbs/birdbatman.pl">Back to BirdBatMan Home</a>
</div>
</div>
</div>

<table id="client_details" summary="Layout Table for client details" cellspacing="0">
  <tr><th>Authority Number:</th><td><TMPL_VAR NAME=AUTH_NO></td></tr>
  <tr><th>Initials:</th><td><TMPL_VAR NAME=INITIALS></td></tr>
  <tr><th>Surname:</th><td><TMPL_VAR NAME=SURNAME></td></tr>
  <tr><th>Email:</th><td><TMPL_VAR NAME=EMAIL></td></tr>
  <tr><th>Home Phone:</th><td><TMPL_IF NAME=HOME_PHONE><TMPL_VAR NAME=HOME_PHONE><TMPL_ELSE>&nbsp;</TMPL_IF></td></tr>
  <tr><th>Work Phone:</th><td><TMPL_IF NAME=WORK_PHONE><TMPL_VAR NAME=WORK_PHONE><TMPL_ELSE>&nbsp;</TMPL_IF></td></tr>
  <tr><th>Fax:</th><td><TMPL_IF NAME=FAX><TMPL_VAR NAME=FAX><TMPL_ELSE>&nbsp;</TMPL_IF></td></tr>
  <tr><th>Licence Class:</th><td><TMPL_VAR NAME=LICENCE_CLASS></td></tr>
  <tr><th>Licence (Active) Status:</th><td><TMPL_VAR NAME=LICENCE_ACTIVE></td></tr>
  <tr><th>Authority Type:</th><td><TMPL_VAR NAME=AUTHORITY_TYPE></td></tr>
  <tr><th>Security Question:</th><td><TMPL_VAR NAME=SEC_QUESTION></td></tr>
  <tr><th>Answer to Security Question:</th><td><TMPL_VAR NAME=SEC_ANSWER></td></tr>
  <tr><th>New Password:</th><td><TMPL_VAR NAME=NEW_PASSWORD></td></tr>
  </table>

<!--#include virtual="/apps/biodiversity/abbbs/ssi/contacts.html"-->

</div>
<!--#include virtual="/apps/biodiversity/abbbs/ssi/footer-abbbs.html"-->
</body>
</html>
