<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Australian Bird and Bat Banding Scheme - Set Web Client Password</title>
<meta name="DC.Title" lang="en" content="Australian Bird and Bat Banding Scheme - Set Web Client Password" xml:lang="en" />
<meta name="DC.Creator" scheme="AglsAgent" content="jurisdiction=Commonwealth of Australia; corporateName=Department of the Environment and Water Resources" />
<meta name="DC.Description" lang="en" content="Events, Ministerial Launch of the Bird Action Plan, Other links, EPBC Act, Threatened Birds Lists, Migratory Species Lists, Key Threatening Processes, State and Territory Internet sites" xml:lang="en" />
<meta name="DC.Publisher" scheme="AglsAgent" content="jurisdiction=Commonwealth of Australia; corporateName=Department of the Environment and Water Resources" />
<meta name="DC.Date.created" scheme="ISO8601" content="<TMPL_VAR NAME=DATE_CREATED>" />
<meta name="DC.Format" scheme="IMT" content="text/html" />
<meta name="DC.Language" scheme="RFC1766" content="en" />
<meta name="DC.Coverage.jurisdiction" scheme="AglsJuri" content="Commonwealth of Australia" />
<meta name="DC.Coverage.spatial" lang="en" content="Australia" xml:lang="en" />
<meta name="Description" content="Events, Ministerial Launch of the Bird Action Plan, Other links, EPBC Act, Threatened Birds Lists, Migratory Species Lists, Key Threatening Processes, State and Territory Internet sites" />
<link rel="stylesheet" type="text/css" href="/apps/biodiversity/abbbs/css/abbbs.css" />
<script type="text/javascript" src="/apps/biodiversity/abbbs/js/abbbs.js"></script>
<script type="text/javascript" src="/apps/biodiversity/abbbs/js/checkform.js"></script>
</head>
<body onload ="document.updateform.sec_answer.focus();">
<!--#include virtual="/apps/biodiversity/abbbs/ssi/header-abbbs.html"-->
<TMPL_INCLUDE NAME="/apps/biodiversity/abbbs/cgi-templates/login-out.tmpl">
<div id="content">
<h1>BirdBatMan - Set Web Client's Password</h1>

<form id="updateform" name="updateform" class="styleform" method="post" action="/cgi-bin/biodiversity/abbbs/birdbatman.pl" enctype="multipart/form-data" onsubmit="if (checkform(this)) { return Submit(this) } else { return false; }">

  <p>The table shows the banding authority's current Web client details.</p>
  <p>Please provide an answer to the security question and a new password.</p>
  <table cellspacing="0">
    <tr><td class="th bordered">Authority Number:</td><td><TMPL_VAR NAME=AUTH_NO></td></tr>
    <tr><td class="th bordered">Initials:</td><td><TMPL_VAR NAME=INITIALS></td></tr>
    <tr><td class="th bordered">Surname:</td><td><TMPL_VAR NAME=SURNAME></td></tr>
    <tr><td class="th bordered">Email:</td><td><TMPL_VAR NAME=EMAIL></td></tr>
    <tr><td class="th bordered">Home Phone:</td><td><TMPL_IF NAME=HOME_PHONE><TMPL_VAR NAME=HOME_PHONE><TMPL_ELSE>&nbsp;</TMPL_IF></td></tr>
    <tr><td class="th bordered">Work Phone:</td><td><TMPL_IF NAME=WORK_PHONE><TMPL_VAR NAME=WORK_PHONE><TMPL_ELSE>&nbsp;</TMPL_IF></td></tr>
    <tr><td class="th bordered">Fax:</td><td><TMPL_IF NAME=FAX><TMPL_VAR NAME=FAX><TMPL_ELSE>&nbsp;</TMPL_IF></td></tr>
    <tr><td class="th bordered">Licence Class:</td><td><TMPL_VAR NAME=LICENCE_CLASS></td></tr>
    <tr><td class="th bordered">Licence (Active) Status:</td><td><TMPL_VAR NAME=LICENCE_ACTIVE></td></tr>
    <tr><td class="th bordered">Authority Type:</td><td><TMPL_VAR NAME=AUTHORITY_TYPE></td></tr>
    <tr><td class="th bordered">Security Question:</td><td><TMPL_VAR NAME=SEC_QUESTION></td></tr>
    <tr><td class="th bordered"><label for="sec_answer">Answer to Security Question</label>:</td>
    <td><input type="text" id="sec_answer" name="sec_answer" size="32" maxlength="32" onkeypress="return noenter(event);" />
    </td></tr>
    <tr><td class="th"><label for="new_password">New Password</label>:</td>
    <td><input type="text" id="new_password" name="new_password" size="12" maxlength="12" onkeypress="return noenter(event);" />
    </td></tr>
    <tr><td colspan="2" class="buttonrow"><input type="submit" name="sub_button" id="sub_button" value="Update" title="Update Database" class="submitbutton" /></td></tr>
  </table>
  </fieldset>
  <input type="hidden" name="proc" value="set_password" />
  <input type="hidden" name="auth_no" value="<TMPL_VAR NAME=AUTH_NO>" />
  <input type="hidden" id="required" name="required" value="sec_answer,new_password" />
</form>

<!--#include virtual="/apps/biodiversity/abbbs/ssi/contacts.html"-->

</div>
<!--#include virtual="/apps/biodiversity/abbbs/ssi/footer-abbbs.html"-->
</body>
</html>
